In [528]:
import pandas as pd
import matplotlib
import seaborn as sns

In [529]:
df = pd.read_csv('CAGEDMOV202005.csv',encoding = 'utf-8', delimiter=";", low_memory=False)

In [530]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   competência          1048575 non-null  int64
 1   região               1048575 non-null  int64
 2   uf                   1048575 non-null  int64
 3   município            1048575 non-null  int64
 4   seção                1048575 non-null  object
 5   subclasse            1048575 non-null  int64
 6   saldomovimentação    1048575 non-null  int64
 7   cbo2002ocupação      1048575 non-null  int64
 8   categoria            1048575 non-null  int64
 9   graudeinstrução      1048575 non-null  int64
 10  idade                1048572 non-null  float64
 11  horascontratuais     1048575 non-null  int64
 12  raçacor              1048575 non-null  int64
 13  sexo                 1048575 non-null  int64
 14  tipoempregador       1048575 non-null  int64
 15  tipoestabelecimento  1048575 non-null  int64
 16  tipomovimentação     1048575 non-null  int64
 17  tipodedeficiência    1048575 non-null  int64
 18  indtrabintermitente  1048575 non-null  int64
 19  indtrabparcial       1048575 non-null  int64
 20  salário              1048566 non-null  object
 21  tamestabjan          1048575 non-null  int64
 22  indicadoraprendiz    1048575 non-null  int64
 23  fonte                1048575 non-null  int64
dtypes: float64(1), int64(21), object(2)
memory usage: 192.0+ MB

### Criar coluna admitidos/desligados apartir dos dados de tipomovimentação

In [531]:
df['admitidos/desligados'] = df['tipomovimentação'].apply(lambda x: "Admitido" if x==10 or x==20 or x==25 or x==35 or x==70 else "Desligado")

### Calcular total admitido e total desligado

In [532]:
total = df['admitidos/desligados'].count()

### Cria o array para ficar mais facil

In [533]:
totalAdmitidoArray = df[df['admitidos/desligados'] == "Admitido"]

In [534]:
totalAdmitido = totalAdmitidoArray['admitidos/desligados'].count()

In [535]:
totalDesligadoArray = df[df['admitidos/desligados'] == "Desligado"]

In [536]:
totalDesligado = total - totalAdmitido

# Começa a calcular os items pedidos

### Total porcentagem dos sexos Admitidos

In [537]:
TotalAdmitidoFem = (totalAdmitidoArray[totalAdmitidoArray['sexo']==1])['admitidos/desligados'].count()

In [538]:
TotalAdmitidoMasc = totalAdmitido - TotalAdmitidoFem

In [539]:
porcentagemAdmitidoFem = ((TotalAdmitidoFem/totalAdmitido)*100).astype(int)

In [540]:
porcentagemAdmitidoMasc = 100-porcentagemAdmitidoFem

In [541]:
f'Porcentagem Admitido feminino: {porcentagemAdmitidoFem}% Porcentagem Admitido Masculino {porcentagemAdmitidoMasc}%'

'Porcentagem Admitido feminino: 65% Porcentagem Admitido Masculino 35%'

### Total porcentagem dos sexos Desligados

In [542]:
TotalDesligadoFem = (totalDesligadoArray[totalDesligadoArray['sexo']==1])['admitidos/desligados'].count()

In [543]:
TotalDesligadoMasc = totalDesligado - TotalDesligadoFem

In [544]:
porcentagemDesligadoFem = ((TotalDesligadoFem/totalDesligado)*100).astype(int)

In [545]:
porcentagemDesligadoMasc = 100-porcentagemDesligadoFem

In [546]:
f'Porcentagem Desligado feminino: {porcentagemDesligadoFem}% Porcentagem Desligado Masculino {porcentagemDesligadoMasc}%'

'Porcentagem Desligado feminino: 62% Porcentagem Desligado Masculino 38%'

# Classe social

In [547]:
df['classe social'] = df['salário'].apply(lambda x: if(x<2200) return 'E' elif(x<4400) return'D' elif(x<1100) return 'C' elif(x<11000) return 'B' else return 'A')

SyntaxError: invalid syntax (<ipython-input-547-75545955b073>, line 1)

In [ ]:
df['classe social']