In [1]:
import pandas as pd
import matplotlib

In [17]:
colunas = ['Admitidos/Desligados','Municipio', 'CBO 2002 Ocupacao', 'CNAE 1.0 Classe', 'CNAE 2.0 Classe', 'CNAE 2.0 Subclas', 'Grau Instrucao', 'IBGE Subsetor', 'Ind Aprendiz', 'Ind Portador Defic', 'Competencia Declarada', 'Idade', 'Raca Cor', 'Salario Mensal','Saldo Mov','Sexo','Tipo Estab','Tipo Defic','Tipo Mov Desagregado','UF']
df = pd.read_csv(r'C:\Users\Pichau\Documents\GitHub\AnaliseCAGED/CAGEDEST.csv', delimiter=";", low_memory=False, usecols= colunas)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616053 entries, 0 to 2616052
Data columns (total 42 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Admitidos/Desligados   int64
 1   Competencia Declarada  int64
 2   Municipio              int64
 3   Ano Declarado          int64
 4   CBO 2002 Ocupacao      int64
 5   CNAE 1.0 Classe        int64
 6   CNAE 2.0 Classe        int64
 7   CNAE 2.0 Subclas       int64
 8   Faixa Empr Inicio Jan  int64
 9   Grau Instrucao         int64
 10  Qtd Hora Contrat       int64
 11  IBGE Subsetor          int64
 12  Idade                  int64
 13  Ind Aprendiz           int64
 14  Ind Portador Defic     int64
 15  Raca Cor               int64
 16  Salario Mensal         object
 17  Saldo Mov              int64
 18  Sexo                   int64
 19  Tempo Emprego          object
 20  Tipo Estab             int64
 21  Tipo Defic             int64
 22  Tipo Mov Desagregado   int64
 23  UF                     int64
 24  Bairros SP             object
 25  Bairros Fortaleza      object
 26  Bairros RJ             object
 27  Distritos SP           object
 28  Regioes Adm DF         int64
 29  Mesorregiao            int64
 30  Microrregiao           int64
 31  Regiao Adm RJ          object
 32  Regiao Adm SP          object
 33  Regiao Corede          object
 34  Regiao Corede 04       object
 35  Regiao Gov SP          object
 36  Regiao Senac PR        object
 37  Regiao Senai PR        object
 38  Regiao Senai SP        object
 39  Sub-Regiao Senai PR    object
 40  Ind Trab Parcial       int64
 41  Ind Trab Intermitente  int64
dtypes: int64(27), object(15)
memory usage: 838.3+ MB

In [18]:
df['Municipio']

0          510267
1          510805
2          510263
3          510267
4          510525
            ...
2616048    211130
2616049    211130
2616050    210530
2616051    210270
2616052    210270
Name: Municipio, Length: 2616053, dtype: int64